<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- roothide 官方 entitlements.md 给越狱二进制列的基础四件套 -->
    <key>platform-application</key>
    <true/>
    <key>com.apple.private.security.no-sandbox</key>
    <true/>
    <key>com.apple.private.security.storage.AppBundles</key>
    <true/>
    <key>com.apple.private.security.storage.AppDataContainers</key>
    <true/>

    <!-- 额外两个：不要求容器（越狱 App 常带），以及方便调试 -->
    <key>com.apple.private.security.container-required</key>
    <false/>
    <key>get-task-allow</key>
    <true/>
</dict>
</plist>
